# Environment
.env

# Database
*.db
data/*
!data/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Logs
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

*.db-wal
*.db-shm
.permission_test
